<form action="/word/<%= @word.id %>/definition/<%= @definition.id %>/update" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="new_def">Edit Definition: </label>
  <input value="<%= @definition.def %>" class="form-control" id="new_def" name="new_def">
  <button class="btn">Update</button>
</form>
<form action="/word/<%= @word.id %>/definition/<%= @definition.id %>/delete"  method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn">Delete</button>
</form>